<p>{{message}}</p>
<form class="form-inline" name="changeCity">
    <div class="form-group">
        <input type="text" class="form-control" name="cityName" placeholder="Enter city name">
        <button type="button" name="city-submit" class="btn btn-outline-success">search</button>

        <div class="form-control-feedback hidden">enter more than 3 characters</div>
    </div>
</form>